<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.tnkfactory.tnk_flutter_payplus_plugin">

    <!-- 인터넷 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 동영상 광고 재생을 위한 wifi접근 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 광고 아이디 획득 -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>


</manifest>
